{
  "$action": "organization/group",
  "do": [
    {
      "$action": "communication/http-request",
      "$disabled": false,
      "body": {
        "auth": {
          "__$afref__": "variable",
          "id": "921b0374-a0e3-490a-ba0e-85a62d024921"
        },
        "id": 1,
        "jsonrpc": "2.0",
        "method": "report.create",
        "params": {
          "active_since": "2021-04-01",
          "active_till": "2022-08-31",
          "cycle": "1",
          "dashboardid": "1",
          "description": "Report description",
          "message": "Report accompanying text",
          "name": "Weekly report",
          "period": "1",
          "start_time": "43200",
          "status": "1",
          "subject": "Weekly report",
          "user_groups": [
            {
              "access_userid": "0",
              "usrgrpid": "7"
            }
          ],
          "userid": "1",
          "users": [
            {
              "access_userid": "1",
              "exclude": "0",
              "userid": "1"
            },
            {
              "access_userid": "0",
              "exclude": "1",
              "userid": "2"
            }
          ],
          "weekdays": "31"
        }
      },
      "decode-body": true,
      "header": {
        "Content-Type": "application/json-rpc"
      },
      "method": "POST",
      "mock-result": {
        "body": "",
        "header": {},
        "status-code": 200
      },
      "name": "Create Report",
      "output-location": {
        "__$afref__": "data",
        "path": [
          "result"
        ]
      },
      "path": "/api_jsonrpc.php",
      "query": {},
      "timeout": 5000,
      "url": "localhost:4080",
      "url-variables": {},
      "use-mock-result": false
    },
    {
      "$action": "communication/http-request",
      "$disabled": false,
      "body": {
        "auth": {
          "__$afref__": "variable",
          "id": "921b0374-a0e3-490a-ba0e-85a62d024921"
        },
        "id": 2,
        "jsonrpc": "2.0",
        "method": "report.get",
        "params": {
          "output": "extend",
          "reportids": [
            1,
            2,
            3
          ],
          "selectUserGroups": "extend",
          "selectUsers": "extend"
        }
      },
      "decode-body": true,
      "header": {
        "Content-Type": "application/json-rpc"
      },
      "method": "POST",
      "mock-result": {
        "body": "",
        "header": {},
        "status-code": 200
      },
      "name": "Get Report",
      "output-location": {
        "__$afref__": "data",
        "path": [
          "result"
        ]
      },
      "path": "/api_jsonrpc.php",
      "query": {},
      "timeout": 5000,
      "url": "localhost:4080",
      "url-variables": {},
      "use-mock-result": false
    }
  ],
  "name": "Zabbix get reports"
}